<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
	<% for (var chunk in htmlWebpackPlugin.files.css) { %>
		<link rel="preload" href="<%= htmlWebpackPlugin.files.css[chunk] %>"  as="style">
	<% } %>
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
		<link rel="preload" href="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" as="script">
	<% } %>
	<meta charset="utf-8">
	<title>Rooter News</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
	<meta name="description" content="rooter-faq">
</head>
<body></body>
</html>
